@font-face {
    src: url("fonts/wt_symbols.ttf");
}

.table-view .column-header-background .label {
    -fx-font-family: "symbols_skyquake";
    -fx-font-size: 18px;
}

.table-column {
    -fx-font-size: 18px;
    -fx-alignment: CENTER;
}